In [1]:
import pandas as pd

In [11]:
btc = pd.read_csv('./data/btcusd_1-min_data.csv')

In [12]:
btc.head()

      Timestamp  Open  High   Low  Close  Volume
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0

In [13]:
btc['Date'] = pd.to_datetime(btc['Timestamp'], unit='s')

In [14]:
btc.head()

      Timestamp  Open  High   Low  Close  Volume                Date
0  1.325412e+09  4.58  4.58  4.58   4.58     0.0 2012-01-01 10:01:00
1  1.325412e+09  4.58  4.58  4.58   4.58     0.0 2012-01-01 10:02:00
2  1.325412e+09  4.58  4.58  4.58   4.58     0.0 2012-01-01 10:03:00
3  1.325412e+09  4.58  4.58  4.58   4.58     0.0 2012-01-01 10:04:00
4  1.325412e+09  4.58  4.58  4.58   4.58     0.0 2012-01-01 10:05:00

In [15]:
btc = btc[['Date', 'Open', 'High', 'Low', 'Close']]

In [16]:
btc.head()

                 Date  Open  High   Low  Close
0 2012-01-01 10:01:00  4.58  4.58  4.58   4.58
1 2012-01-01 10:02:00  4.58  4.58  4.58   4.58
2 2012-01-01 10:03:00  4.58  4.58  4.58   4.58
3 2012-01-01 10:04:00  4.58  4.58  4.58   4.58
4 2012-01-01 10:05:00  4.58  4.58  4.58   4.58

In [ ]:
btc.to_csv('./data/btc_minute_2012.csv')

In [19]:
btc = btc.set_index('Date')

In [29]:
btc_hourly = btc.resample('H').agg(
    {'Open': 'first',
     'High': 'max',
     'Low': 'min',
     'Close': 'last'}
)

In [30]:
btc_hourly.head()

                     Open  High   Low  Close
Date
2012-01-01 10:00:00  4.58  4.58  4.58   4.58
2012-01-01 11:00:00  4.58  4.58  4.58   4.58
2012-01-01 12:00:00  4.58  4.58  4.58   4.58
2012-01-01 13:00:00  4.58  4.58  4.58   4.58
2012-01-01 14:00:00  4.58  4.58  4.58   4.58

In [32]:
btc_hourly.to_csv('./data/btc_1hour_2012.csv')

In [23]:
btc_4_hourly = btc.resample('4H').agg(
    {'Open': 'first',
     'High': 'max',
     'Low': 'min',
     'Close': 'last'}
)

In [24]:
btc_4_hourly.head()

                     Open  High   Low  Close
Date
2012-01-01 08:00:00  4.58  4.58  4.58   4.58
2012-01-01 12:00:00  4.58  4.58  4.58   4.58
2012-01-01 16:00:00  4.58  4.58  4.58   4.58
2012-01-01 20:00:00  4.58  4.84  4.58   4.84
2012-01-02 00:00:00  4.84  5.00  4.84   5.00

In [25]:
btc_4_hourly.to_csv('./data/btc_4hour_2012.csv')

In [26]:
btc_daily = btc.resample('1D').agg(
    {'Open': 'first',
     'High': 'max',
     'Low': 'min',
     'Close': 'last'}
)

In [27]:
btc_daily.head()

            Open  High   Low  Close
Date
2012-01-01  4.58  4.84  4.58   4.84
2012-01-02  4.84  5.00  4.84   5.00
2012-01-03  5.00  5.32  5.00   5.29
2012-01-04  5.29  5.57  4.93   5.57
2012-01-05  5.57  6.46  5.57   6.42

In [28]:
btc_daily.to_csv('./data/btc_daily_2012.csv')